header, ul, li {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffff;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  display: block;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  
}

.logo {
  margin-right: 20px; 
}
.ul {
  list-style: none;
  display: flex;
  gap: 20px; 
}

.li {
  text-decoration: none;
  cursor: pointer;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 55px;
}

.description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #828282;
  margin-top: 28px;
}

.heading-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  color: #3c2f60;
}

.heading-text span {
  color: #5955b3;
}